/*Universal Styles*/
*{
    border: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  max-width: 1600px;
}


/*Shared Styles*/






/*Navbar Related Styles*/
.navbar{
    background-color:#170332;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    align-items: center;
}
.navbar-1 h2{
    font-size: 2.8rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}
#wave{
     background:linear-gradient(45deg,#f7e83fc4, #FB09B4,#9100F8);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
    font-weight: bold;
}

.navbar-2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.navbar-2 a{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.915);;
    text-decoration: none;
}
.navbar-3 button{
    background:linear-gradient(45deg,#f7e83fe9, #FB09B4,#9100F8);
   padding: 12px 16px 12px 16px;
   border-radius: 20px;
   color:  rgb(255, 255, 255);
   font-size: 1rem;
   font-weight: 600;
}
.navbar-3 img{
    margin-left: 3px;
}
.hamburger{
    border: 1px solid black;
    display: none;
}

/*Hero Section Related Styles*/
.hero{
    padding-top: 100px;
    background-color:#170332;
    text-align: center;
    background-image: url(/assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}
.hero-info{
    background-image: url(/assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: top center;
    
}
.hero-img{
    max-width: 200px;
    height: 200px;
    padding-top: 80px;
    margin-bottom: 120px;
}
.hero-info h2{
    font-size: 3.7rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 8px;
}
.hero-info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 16px;
    color:  rgba(255, 255, 255, 1);
    opacity: 0.8;
    margin-bottom: 24px;
}
#btn-1{
    background:linear-gradient(45deg,#f7e83fe9, #FB09B4,#9100F8);
    padding: 12px 16px 12px 16px;
    border-radius: 20px;
    color:  rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 100px;
    
}
#img-1{
    width: 9%;
    padding-right: 4px;
   
}
#btn-2{
     padding: 12px 16px 12px 16px;
    border-radius: 20px;
    color:   rgba(0, 255, 136, 1);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 100px;
    background-color: transparent;
    border: 1px solid  rgba(0, 255, 136, 1) ;
}
#img-2{
      width: 15%;
    padding-right: 6px;
}




/*Responsive Design*/
@media screen and (max-width:576px){
    .navbar-2 , 
    .navbar-3{
        display: none;
    }
    .hamburger{
        display: inline;
    }
}