/*Universal Styles*/
*{
    border: 0;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  max-width: 1600px;
}
@keyframes bounce{
    0%{
        top: 80px;
    }
    50%{
        bottom: 10px;
    }
    100%{
        top:10px;
    }
}

/*Shared Styles*/






/*Navbar Related Styles*/
.navbar{
    background-color:#170332;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    align-items: center;
}
.navbar-1 h2{
    font-size: 2.8rem;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}
#wave{
     background:linear-gradient(45deg,#f7e83fc4, #FB09B4,#9100F8);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
    font-weight: bold;
}

.navbar-2{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.navbar-2 a{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.915);;
    text-decoration: none;
}
.Subscribe{
    background:linear-gradient(45deg,#f7e83fe9, #FB09B4,#9100F8);
   padding: 12px 16px 12px 16px;
   border-radius: 20px;
   color:  rgb(255, 255, 255);
   font-size: 1rem;
   font-weight: 600;
   cursor: pointer;
}
.Subscribe:hover{
    background: repeating-linear-gradient(45deg, rgb(156, 20, 20) ,rgb(42, 5, 2),rgb(6, 181, 239));
    transform: scale(1.1);
}
.navbar-3 img{
    margin-left: 3px;
}
.hamburger{
    border: 1px solid black;
    display: none;
}

/*Hero Section Related Styles*/
.hero{
    padding-top: 100px;
    background-color:#170332;
    text-align: center;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position: top center;
}
.hero-info{
    background-image: url("../assets/hero-circle.png");
    background-repeat: no-repeat;
    
    background-position: top center;
    position: relative;
    
}
.hero-img{
    max-width: 200px;
    height: 200px;
    padding-top: 80px;
    margin-bottom: 120px;
}
.hero-info h2{
    font-size: 3.7rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 8px;
}
.hero-info p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 16px;
    color:  rgba(255, 255, 255, 1);
    opacity: 0.8;
    margin-bottom: 24px;
}
#btn-1{
    background:linear-gradient(45deg,#f7e83fe9, #FB09B4,#9100F8);
    padding: 12px 16px 12px 16px;
    border-radius: 20px;
    color:  rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 100px;
    cursor: pointer;
    animation: bounce 3s ease-in-out 1s infinite alternate;
    position: relative;
    
}
#btn-1:hover{
    background: repeating-linear-gradient(45deg, rgb(156, 20, 20) ,rgb(42, 5, 2),rgb(6, 181, 239));
}
#img-1{
    width: 9%;
    padding-right: 4px;
   
}
#btn-2{
     padding: 12px 16px 12px 16px;
    border-radius: 20px;
    color:   rgba(0, 255, 136, 1);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 100px;
    background-color: transparent;
    border: 1px solid  rgba(0, 255, 136, 1) ;
    cursor: pointer;
    animation: bounce 3s ease-in-out 2s infinite alternate;
    position: relative;
}
#btn-2:hover{
    background: repeating-linear-gradient(45deg, rgb(156, 20, 20) ,rgb(42, 5, 2),rgb(6, 181, 239));
}
#img-2{
      width: 15%;
    padding-right: 6px;
}
.new{
    font-size: .9rem;
    font-weight: 600;
    position: absolute;
    top: 17%;
    left: 56%;
    padding: 10px 16px 10px 16px;
    border-radius: 18px;
    background-color: rgba(72, 251, 167, 0.955);
    cursor: pointer;
   
    
}
.new:hover{
    background: linear-gradient(45deg,#f7e83fe9, #FB09B4,#9100F8);;
    
}

/*About Podcast Related Design*/

.podcast{
    max-width: 1600px;
    text-align: center;
    background-color: #170332;
    padding: 50px 200px 120px 200px;
}
.podcast-top h2{
    font-size: 3rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 15px;
}
.podcast-top p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    color:  rgba(255, 255, 255, 1);
    opacity: 0.7;
    margin-bottom: 7px;
}
.podcast-top{
    margin-bottom: 80px;
}

.podcast-last{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    padding-top: 80px;
    border-top: 0.1px solid rgba(255, 255, 255, 0.425);
    text-align: center;
   
}
.info h3{
    font-size: 3rem;
    font-weight: 900;
    color: rgba(0, 255, 136, 1);
    margin-bottom: 10px;
}
.info p{
    font-size: 1rem;
    font-weight: 400;
    color:  rgba(255, 255, 255, 1);
    opacity: 0.7;
}

/*Middle Related Styles*/
.middle{
    max-width: 1600px;
    text-align: center;
    background-color: rgba(35, 14, 61, 1);
    padding: 120px 200px 120px 200px;
}
#h1{
    font-size: 3rem;
    font-weight: 700;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}
.middle-element{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3 ,232px);
    gap: 30px;
}
.middle-info{
    padding: 35px;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    text-align: left;
}
.middle-info img{
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}
.middle-info h5{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.907);
    margin-bottom: 15px;
}
.middle-info p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1);
    opacity: 0.5;
    line-height: 22px;
}
.big-row{
    grid-column: span 1;
    grid-row: span 2;
}
.big-column{
    grid-column: span 2;
}


/*Last Related Styles*/
.last{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #170332;
    padding: 120px 200px 120px 200px;
    text-align: center;
}
.last-top h1{
    font-size: 3rem;
    font-weight: 700;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 40px;
}
.video{
    display: grid;
    grid-template-columns: repeat(3,350px);
    gap: 40px;
   
}

.video-container{
    
    margin: 0 auto;
    padding-left: 40px;
}
.video-info{
    padding: 24px;
    background-color:  rgba(53, 17, 101, 0.4);
    text-align: left;
    border-radius: 5px;
    margin-bottom: 120px;
}
.video-info h5{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}
.para{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1);
    opacity: 0.5;
    line-height: 20px;
    margin-bottom: 12px;
}

.min{
    font-size: 1rem;
    font-weight: 600;
    color:  rgba(0, 255, 136, 1);
    margin-right: 10px;
}
.clock{
    margin-right: 5px;
    position: center;

}


/*Last Down Related Styles*/
.last-down h1{
    font-size: 3rem;
    font-weight: 700;
    color:rgba(255, 255, 255, 1);
    margin-bottom: 40px;
    text-align: center;
}
.down-container{
   display: flex;
   text-align: left;
   justify-content: center;
   align-self: center;
   gap: 20px;
   padding: 40px;
   background-color:  rgba(53, 17, 101, 0.4);
   border-radius: 40px;
}
.image img{
    width: 200px;
    height: 200px;
    
}
.icon{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: left;
}
.deatails h5{
    margin-top: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
}
.deatails p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 1);
    opacity: 0.5;
    line-height: 20px;
    margin-bottom: 15px;
}
.end img{
    width: 20px;
    width: 20px;
    margin-left: 0 auto;
}
.end{
    padding: 10px;
    border: 1px solid rgba(83, 60, 114, 1);
    border-radius: 35px;
}


/*Footer Related Design*/
.footer{
    max-width: 1600px;
    background-color:  rgba(35, 14, 61, 1);
    text-align: center;
    padding-top: 120px;
    background-image: url("../assets/footer-bg.png");
    background-position: center 0%;
    background-repeat: no-repeat;
    opacity: 100%;
}
.footer h1{
    font-size: 3rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.89);
    margin-bottom: 32px;
}
.linear{
    background:linear-gradient(45deg,#f7e83fe4, #ed08a8,#9100F8);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
    font-weight: 900;
}
.social{
    display: grid;
    grid-template-columns: repeat(4 ,170px);
    gap: 0px;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 419px;
  
}
.social img{
    margin-right: 10px;
}
.footer p{
    color: rgba(255, 255, 255, 0.91);
    font-size: 1.2rem;
    line-height: 26px;
    font-weight: 400;
    opacity: 0.9;
    padding-bottom: 120px;
}


  /*Responsive Related Styles*/
  @media screen and (max-width:576px){
    .navbar{
        width: 100%;
        padding-top: 20px;
    }

    .navbar-2,
    .navbar-3{
        display: none;
    }
    .inter-font{
        max-width: 576px;
        margin: 0 auto;
    }
    .hamburger{
        display: inline;
        margin-right: 20px;
    }
    .hero{
        max-width: 576px;
        background-size: 100%;
        background-position: top center;
        padding-top: 10px;
    }
    .hero-info{
        background-size: 30%;
        background-position: cover;
    }
    .hero-img{
        height: 60px;
        width: 60px;
        padding-top: 25px;
    }
    .hero h2{
        font-size: 2.5rem;
    }
    .new{
        top: 5%;
    }
    .btn-1{
        width: 20px;
        padding: 5px;
    }
    .podcast{
        padding: 30px 0 0 0;
        max-width: 576px;
    }
    .podcast-last{
        grid-template-columns: repeat(1 ,1fr);
    }
    .middle{
        padding: 30px 10px 30px 10px;
        max-width: 576px;
    }
    .middle-element{
        grid-template-columns: repeat(1 ,1fr);
    }
    .big-column{
        grid-column: span 1;
    }
    .big-row{
        grid-row: span 1;
    }
    .middle-info{
        padding: 25px;
    }
    .last{
        padding: 30px 10px 30px 10px;
        max-width: 576px;
    }
    .video-info{
        margin-bottom: 10px;
    }
    .video{
        grid-template-columns: repeat(1, 350px);
        gap: 1px;
       
    }
    .video-container{
        padding: 10px 10px 10px 20px;
        margin-bottom: 2px;
    }
    .down-container{
        flex-direction: column;
        text-align: center;
        text-align: center;
    }
    .icon{
        padding-left: 55px;
    }
    .footer{
        max-width: 576px;
        background-size: 100%;
        background-position: center;
        padding-top: 40px;
    }
    .footer h1{
        margin-bottom: 10px;
    }
    .social{
      grid-template-columns: repeat(2 , 200px);
      padding: 0px;
      margin-bottom: 0px
    };
    .footer{
        padding-bottom: 10px;
    }

  }
  /*
  
.footer h1{
    font-size: 3rem;
    font-weight: 900;
    color: rgba(255, 255, 255, 0.89);
    margin-bottom: 32px;
}
.linear{
    background:linear-gradient(45deg,#f7e83fe4, #ed08a8,#9100F8);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; 
    font-weight: 900;
}
.social{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-bottom: 30px;
  
}
.social img{
    margin-right: 10px;
}
.footer p{
    color: rgba(255, 255, 255, 0.91);
    font-size: 1.2rem;
    line-height: 26px;
    font-weight: 400;
    opacity: 0.9;
    padding-bottom: 120px;
}*/